<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eliseche.drinkingtime">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DrinkingTimeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.drink.DrinkDetailActivity_"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.tool.ToolActivity_"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.video.VideoActivity_"
            android:theme="@style/AppTheme" />

    </application>

</manifest>